@import url('http://fonts.cdnfonts.com/css/encode-sans-compressed');

body {
    background-color: #fff8e7;
}

mark{
    background-color: pink;
    opacity: 0.5;
}

.cards-style{
    border-radius: 30px;
    height: 250px;
    width: 300px;
    border: 0.5px solid black;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.9);
}

#form-img{
    background-image: url('images/background-image-seoplanetx.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#line-image {
    background-image: url('images/text-line.png');
    background-repeat: no-repeat;
    background-position: 63% 40%;
    background-size: auto 50px;

}

/* .text-size {
    font-size: 50px;
    font-family: 'Encode Sans Compressed', sans-serif;
    font-weight: bold;
} */

input {
    background-color: transparent;
}

.input-style {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 200px;
    font-size: x-small;
}

select {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 200px;
    border-bottom-width: 2px;
    color: gray;
    font-size: x-small;
    background-color: transparent;
}

.form-heading{
    font-size: x-small;
}

.form-last-input {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 440px;
    font-size: xx-small;
}

.form-padding {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
}

.form-padding-1 {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    padding-bottom: 20px;
}

.form-padding-2 {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    padding-bottom: 20px;
}


.btn-style {
    width: 100px;
    border-radius: 60px;
    font-size: medium;
    font-weight: bold;
}

.wrapper{
    max-height: 240px;
    display: flex;
    overflow-x: auto;
    margin-top: 100px;
}

.wrapper::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.wrapper .item{
    min-width: fit-content;
    height: 225px;
    padding: 0px 10px;
    line-height:110px;
    text-align: center;
    margin-right: 5px;
    
}

.testi-btn{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 15px 50px;
    border-radius: 50px;
    width: fit-content;
}

.section-2-links{
    text-decoration: none;
    color: grey;
    font-size: large;
    display: flex;
    justify-content: space-between;
    font-family: 'Encode Sans Compressed', sans-serif;
}

.section-3-img{
    background-image: url('images/step-by-step.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.section-3-pad{
    padding-top: 50px;
    padding-bottom: 400px;
}
.section-3-text{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Encode Sans Compressed', sans-serif;
}

.section-3-btn{
    border-radius: 60px;
    padding: 10px;
    font-family: 'Encode Sans Compressed', sans-serif;
}

.section-4-img{
    background-image: url('images/background-image-seoplanetx-rectangle.png');
    background-repeat: no-repeat;
    background-size: 100% 500px;
}

.section-4-pad{
    padding: 200px 250px;
    color: white;
}

a{
    text-decoration: none;
    color: black;
    font-size: medium;
    display: flex;
    align-items: stretch;
}

.hiring-btn{
    background-color: orangered;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: x-small;
}

.sect-5-addresses{
    font-size: medium;
}

.sect-5-input{
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: 15px;
    width: 300px;
}

.sect-5-btn{
    background-color: rgb(5, 122, 218);
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    color: white;
    margin-left: -50px;
}

.sect-5-pad{
    padding-top: 5px;
    padding-bottom: 10px;
}

.sect-5-links-6{
    height: 500px;
}

.sect-5-links-5{
    padding-left: 0px;
    padding-right: 15px;
    width: 170px;
}

.sect-5-links-4{
    width: 150px;
}

.sect-5-links-2{
    padding-left: 0px;
    padding-right: 0;
    width: 160px;
}

.card-img{
    width: 50%;
}

@media (min-width:320px) {
    
    .text-size {
        font-size: 20px;
        font-family: 'Encode Sans Compressed', sans-serif;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 90% 40%;
        background-size: auto 20px;
    }

    #form-img{
        background-image: none
    }
    
    input {
        background-color: transparent;
    }
    
    .input-style {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 110px;
        font-size: 7px;
    }
    
    select {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 110px;
        border-bottom-width: 2px;
        color: gray;
        font-size: 7px;
        background-color: transparent;
    }
    
    .form-heading{
        font-size: 7px;
    }
    
    .form-last-input {
        border-left: none;
        border-right: none;
        border-top: none;
        
        width: 255px;
        font-size: 6px;
    }
    
    .form-padding {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 20px;
    }
    
    .form-padding-1 {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 15px;
        padding-bottom: 10px;
    }
    
    .form-padding-2 {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    
    
    .btn-style {
        width: 80px;
        border-radius: 60px;
        font-size: small;
        font-weight: bold;
    }
    

    .cards-pg{
        font-size: xx-small;
    }

    .card-heading{
        font-size: 10px;
    }

    .cards-style{
        border-radius: 30px;
        height: 160px;
        width: 400px;
        border: 0.5px solid black;
        box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.9);
    }

    .card-img{
        width: 50%;
    }

    .testi-head-size{
        font-size: x-small;
    }

    .section-3-img{
        background-image: url('images/step-by-step.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0px 150px;
    }

    .section-3-text{
        font-size: 12px;
        font-weight: 600;
        font-family: 'Encode Sans Compressed', sans-serif;
    }
    
    .section-3-btn{
        border-radius: 60px;
        padding: 5px;
        font-size: x-small;
        font-family: 'Encode Sans Compressed', sans-serif;
    }

    .section-4-img{
        background-image: url('images/background-image-seoplanetx-rectangle.png');
        background-repeat: no-repeat;
        background-size: 100% 220px;
    }
        
    .section-4-pad{
        padding: 40px 70px;
        color: white;
        font-size: xx-small;
    }

    .section-4-btn{
        font-size: xx-small;
        border-radius: 50px;
        margin-bottom: 50px;
        padding: 3px 16px;
    }

    .sect-5-addresses{
        font-size: xx-small;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: x-small;
        display: flex;
        align-items: stretch;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 12px 20px;
        width: 150px;
    }
    
    .sect-5-btn{
        background-color: rgb(5, 122, 218);
        padding: 8px 16px;
        border-radius: 50px;
        border: none;
        color: white;
        margin-left: -50px;
    }

    .sect-5-links-6{
        height: 300px;
        width: fit-content;
    }
    
    .sect-5-links-5{
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
    }

    .sect-5-links-3{
        padding-left: 0px;
        padding-right: 0;
        width: 200px;
    }
    
    .sect-5-links-4{
        width: 150px;
    }
    
    .sect-5-links-2{
        padding-left: 0px;
        padding-right: 0;
        width: max-content;
        
    }

    .sect-5-links-1{
        padding-left: 0px;
        padding-right: 0px;
        width: max-content;
        margin: 8px;
    }

    input[type=email]{
        font-size: xx-small;
    }

    .sect-5-links-head{
        font-size:  small;
        font-weight: bold;
    }

   .footer-text-size{
    font-size: xx-small;
   }
    
}

@media (min-width:360px) {

    .text-size {
        font-size: 25px;
        font-family: 'Encode Sans Compressed', sans-serif;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 80% 40%;
        background-size: auto 23px;
    }

    
}

@media (min-width:400px) {

    .text-size {
        font-size: 25px;
        font-family: 'Encode Sans Compressed', sans-serif;
        ;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 77% 40%;
        background-size: auto 23px;
    }

    .cards-pg{
        font-size: small;
    }

    .card-heading{
        font-size: 15px;
    }

    .cards-style{
        border-radius: 30px;
        height: 210px;
        width: 400px;
        border: 0.5px solid black;
        box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.9);
    }

    .card-img{
        width: 50%;
    }
}

@media (min-width:450px) {

    .text-size {
        font-size: 25px;
        font-family: 'Encode Sans Compressed', sans-serif;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 71% 40%;
        background-size: auto 23px;
    }

   
}

@media (min-width:500px) {

    .text-size {
        font-size: 30px;
        font-family: 'Encode Sans Compressed', sans-serif;
        ;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 71% 40%;
        background-size: auto 23px;
    }

    .input-style {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 150px;
        font-size: xx-small;
    }
    
    select {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 150px;
        border-bottom-width: 2px;
        color: gray;
        font-size: xx-small;
        background-color: transparent;
    }
    
    .form-heading{
        font-size: x-small;
    }
    
    .form-last-input {
        border-left: none;
        border-right: none;
        border-top: none;
        
        width: 350px;
        font-size: xx-small;
    }
    
    .form-padding {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 20px;
    }
    
    .form-padding-1 {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    
    .form-padding-2 {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    
    
    .btn-style {
        width: 100px;
        border-radius: 60px;
        font-size: medium;
        font-weight: bold;
    }
    
}

@media (min-width:576px) {

    .text-size {
        font-size: 35px;
        font-family: 'Encode Sans Compressed', sans-serif;
        ;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 80% 40%;
        background-size: auto 35px;
    }


    .cards-pg{
        font-size: small;
    }

    .card-heading{
        font-size: 15px;
    }

    .cards-style{
        border-radius: 30px;
        height: 210px;
        width: 400px;
        border: 0.5px solid black;
        box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.9);
    }

    .card-img{
        width: 50%;
    }
    

    .section-3-img{
        background-image: url('images/step-by-step.png');
        background-repeat: no-repeat;
        background-size: 100% 75%;
    }

    .section-3-text{
        font-size: 20px;
        font-weight: 600;
        font-family: 'Encode Sans Compressed', sans-serif;
    }
    
    .section-3-btn{
        border-radius: 60px;
        padding: 5px;
        font-family: 'Encode Sans Compressed', sans-serif;
    }

    .section-4-img{
        background-image: url('images/background-image-seoplanetx-rectangle.png');
        background-repeat: no-repeat;
        background-size: 100% 250px;
        
    }
    
    .section-4-pad{
        padding: 80px 120px;
        color: white;
        font-size: xx-small;
    }

    .section-4-btn{
        font-size: xx-small;
        border-radius: 50px;
    }

    .sect-5-addresses{
        font-size: xx-small;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: xx-small;
        display: flex;
        align-items: stretch;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 12px 20px;
        width: 150px;
    }
    
    .sect-5-btn{
        background-color: rgb(5, 122, 218);
        padding: 8px 16px;
        border-radius: 50px;
        border: none;
        color: white;
        margin-left: -50px;
    }

    .sect-5-links-6{
        height: 500px;
        width: fit-content;
    }
    
    .sect-5-links-5{
        padding-left: 0px;
        padding-right: 15px;
        width: 150px;
    }

    .sect-5-links-3{
        padding-left: 0px;
        padding-right: 15px;
        width: fit-content;
    }
    
    .sect-5-links-4{
        width: 150px;
    }
    
    .sect-5-links-2{
        padding-left: 0px;
        padding-right: 0;
        width: 170px;
    }

    .sect-5-links-1{
        padding-left: 0px;
        padding-right: 0;
        width: 170px;
        margin: 0;
    }

    input[type=email]{
        font-size: xx-small;
    }

    .sect-5-links-1{
        padding-left: 8px;
        padding-right: 5px;
        width: 140px;
        margin: 0px 50px;
    }

    .sect-5-links-head{
        font-size:  small;
    }
}

@media (min-width:600px) {

    .text-size {
        font-size: 35px;
        font-family: 'Encode Sans Compressed', sans-serif;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 80% 40%;
        background-size: auto 35px;
    }

    /* .form-last-input {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 550px;
        font-size: smaller;
    }

    .form-heading{
        font-size: xx-small;
    }

    .input-style {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 260px;
        font-size: x-small;
    }

    select {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 260px;
        border-bottom-width: 2px;
        color: gray;
        font-size: x-small;
    }

    .form-heading{
        font-size: medium;
    }

    .form-last-input {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 560px;
        font-size: smaller;
    }

    .form-padding {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 20px;
    }

    .form-padding-1 {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    .form-padding-2 {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 10px;
        padding-bottom: 20px;
    }


    .btn-style {
        width: 150px;
        border-radius: 60px;
        font-size: x-large;
        font-weight: bold;
    } */

}

@media (min-width:650px) {

    .text-size {
        font-size: 35px;
        font-family: 'Encode Sans Compressed', sans-serif;
        ;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 70% 40%;
        background-size: auto 35px;
    }

    .form-heading{
        font-size: smaller;
    }

     .input-style {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 260px;
        font-size: x-small;
    }

    select {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 260px;
        border-bottom-width: 2px;
        color: gray;
        font-size: smaller;
    }

    .form-last-input {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 600px;
        font-size: smaller;
    }


    .form-padding {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .form-padding-1 {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 30px;
        padding-bottom: 5px;
    }

    .form-padding-2 {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 30px;
        padding-bottom: 20px;
    }


    .btn-style {
        width: 150px;
        border-radius: 60px;
        font-size: x-large;
        font-weight: bold;
    } 

    .footer-text-size{
        font-size: xx-small;
    }
}

@media (min-width:767px) {
    .text-size {
        font-size: 50px;
        font-family: 'Encode Sans Compressed', sans-serif;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 80% 40%;
        background-size: auto 50px;
    }

    #form-img{
        background-image: none
    }

    .input-style {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 280px;
        font-size: smaller;
    }

    select {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 280px;
        border-bottom-width: 2px;
        color: gray;
        font-size: smaller;
    }

    .form-heading{
        font-size: medium;
    }

    .form-last-input {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 660px;
        font-size: smaller;
    }

    .form-padding {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 20px;
    }

    .form-padding-1 {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 50px;
        padding-bottom: 20px;
    }

    .form-padding-2 {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 50px;
        padding-bottom: 20px;
    }


    .btn-style {
        width: 150px;
        border-radius: 60px;
        font-size: x-large;
        font-weight: bold;
    }

    .cards-pg{
        font-size: x-small;
    }

    .card-heading{
        font-size: 10px;
    }

    .cards-style{
        border-radius: 30px;
        height: 190px;
        width: 300px;
        border: 0.5px solid black;
        box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.9);
    }

    .card-img{
        width: 50%;
    }

    .testi-head-size{
        font-size: xx-large;
    }
    

    .section-2-links{
        text-decoration: none;
        color: grey;
        font-size: small;
        display: flex;
        justify-content: space-between;
        font-family: 'Encode Sans Compressed', sans-serif;
    }

    .section-3-img{
        background-image: url('images/step-by-step.png');
        background-repeat: no-repeat;
        background-size: 100% 70%;
    }

    .section-3-text{
        font-size: 30px;
        font-weight: 600;
        font-family: 'Encode Sans Compressed', sans-serif;
    }
    
    .section-3-btn{
        border-radius: 60px;
        padding: 15px;
        font-size: large;
        font-family: 'Encode Sans Compressed', sans-serif;
    }

    .section-4-img{
        background-image: url('images/background-image-seoplanetx-rectangle.png');
        background-repeat: no-repeat;
        background-size: 100% 200px;
    }
    
    .section-4-pad{
        padding: 50px 250px;
        color: white;
        font-size: x-small;
    }

    .section-4-btn{
        font-size: x-small;
        border-radius: 50px;
    }

    .sect-5-addresses{
        font-size: xx-small;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: xx-small;
        display: flex;
        align-items: stretch;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 12px;
        width: 150px;
    }
    
    .sect-5-btn{
        background-color: rgb(5, 122, 218);
        padding: 8px 18px;
        border-radius: 50px;
        border: none;
        color: white;
        margin-left: -50px;
    }

    .sect-5-links-6{
        height: 500px;
        width: fit-content;
    }
    
    .sect-5-links-5{
        padding-left: 0px;
        padding-right: 15px;
        width: 95px;
    }
    
    .sect-5-links-4{
        width: fit-content;
    }
    
    .sect-5-links-2{
        padding-left: 0px;
        padding-right: 0;
        width: 100px;
    }

    .sect-5-links-1{
        padding-left: 0px;
        padding-right: 0;
        width: 90px;
        margin: 0;
    }

    .sect-5-links-3{
        width: fit-content;
    }

    input[type=email]{
        font-size: xx-small;
    }

    .sect-5-links-1{
        padding-left: 8px;
        padding-right: 5px;
        width: 140px;
    }

    .sect-5-links-head{
        font-size:  small;
    }

    .footer-text-size{
        font-size: x-small;
    }
}

@media (min-width:900px) {
    .text-size {
        font-size: 50px;
        font-family: 'Encode Sans Compressed', sans-serif;
        ;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 72% 40%;
        background-size: auto 50px;
    }

    .section-3-img{
        background-image: url('images/step-by-step.png');
        background-repeat: no-repeat;
        background-size: 100% 50%;
    }

    #form-img{
        background-image: url('images/background-image-seoplanetx.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    .section-2-links{
        text-decoration: none;
        color: grey;
        font-size: medium;
        display: flex;
        justify-content: space-between;
        font-family: 'Encode Sans Compressed', sans-serif;
    }

    .cards-pg{
        font-size: small;
    }

    .card-heading{
        font-size: 12px;
    }

    .cards-style{
        border-radius: 30px;
        height: 210px;
        width: 300px;
        border: 0.5px solid black;
        box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.9);
    }
    
    .sect-5-addresses{
        font-size: x-small;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: x-small;
        display: flex;
        align-items: stretch;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 17px;
        width: 180px;
    }
    
    .sect-5-btn{
        background-color: rgb(5, 122, 218);
        padding: 14px 20px;
        border-radius: 50px;
        border: none;
        color: white;
        margin-left: -50px;
    }

    .sect-5-links-6{
        height: 500px;
        width: fit-content;
    }
    
    .sect-5-links-5{
        padding-left: 0px;
        padding-right: 15px;
        width: 125px;
    }
    
    .sect-5-links-4{
        width: 110px;
    }
    
    .sect-5-links-3{
        width: fit-content;
    }

    .sect-5-links-2{
        padding-left: 0px;
        padding-right: 5px;
        width: 110px;
    }

    .sect-5-links-1{
        padding-left: 0px;
        padding-right: 0;
        width: 100px;
        margin: 0;
    }

    input[type=email]{
        font-size: x-small;
    }

    .sect-5-links-1{
        padding-left: 8px;
        padding-right: 5px;
        width: 170px;
    }

    .sect-5-links-head{
        font-size:  small;
    }

}
/* form responsive */
@media (min-width:850px) {
    
    .input-style {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 280px;
        font-size: smaller;
    }

    select {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 280px;
        border-bottom-width: 2px;
        color: gray;
        font-size: smaller;
        background-color: transparent;
    }

    .form-heading{
        font-size: medium;
    }

    .form-last-input {
        border-left: none;
        border-right: none;
        border-top: none;
        width: 660px;
        font-size: smaller;
    }

    .form-padding {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 20px;
    }

    .form-padding-1 {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 50px;
        padding-bottom: 20px;
    }

    .form-padding-2 {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 50px;
        padding-bottom: 20px;
    }


    .btn-style {
        width: 150px;
        border-radius: 60px;
        font-size: x-large;
        font-weight: bold;
    }
}

@media (min-width:1000px) {
    .text-size {
        font-size: 50px;
        font-family: 'Encode Sans Compressed', sans-serif;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 68% 40%;
        background-size: auto 50px;
    }

    
    .section-3-img{
        background-image: url('images/step-by-step.png');
        background-repeat: no-repeat;
        background-size: 100% 60%;
    }

    .section-4-img{
        background-image: url('images/background-image-seoplanetx-rectangle.png');
        background-repeat: no-repeat;
        background-size: 100% 350px;
    }
    
    .section-4-pad{
        padding: 100px 200px;
        color: white;
        font-size: medium;
    }

    .section-4-btn{
        font-size: large;
        border-radius: 50px;
    }

    .sect-5-addresses{
        font-size: x-small;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: smaller;
        display: flex;
        align-items: stretch;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 15px;
        width: 200px;
    }
    
    .sect-5-btn{
        background-color: rgb(5, 122, 218);
        padding: 15px 20px;
        border-radius: 50px;
        border: none;
        color: white;
        margin-left: -50px;
    }

    .sect-5-links-6{
        height: 500px;
        width: fit-content;
    }
    
    .sect-5-links-5{
        padding-left: 0px;
        padding-right: 15px;
        width: 150px;
    }
    
    .sect-5-links-4{
        width: 110px;
    }
    
    .sect-5-links-2{
        padding-left: 0px;
        padding-right: 0;
        width: 130px;
    }

    input[type=email]{
        font-size: smaller;
    }

    .sect-5-links-3{
        width: fit-content;
    }

    .sect-5-links-1{
        padding-left: 0px;
        padding-right: 5px;
        width: 170px;
        margin: 0;
    }

    .sect-5-links-head{
        font-size:  large;
    }

    .footer-text-size{
        font-size: small;
    }
}

@media (min-width:1050px) {
    .cards-pg{
        font-size: medium;
    }

    .cards-style{
        border-radius: 30px;
        height: 250px;
        width: 300px;
        border: 0.5px solid black;
        box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.9);
    }

    a{
        text-decoration: none;
        color: black;
        font-size: small;
        display: flex;
        align-items: stretch;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 15px;
        width: 210px;
    }
    
    .sect-5-btn{
        background-color: rgb(5, 122, 218);
        padding: 15px 20px;
        border-radius: 50px;
        border: none;
        color: white;
        margin-left: -50px;
    }

    .sect-5-links-6{
        height: 500px;
    }
    
    .sect-5-links-5{
        padding-left: 0px;
        padding-right: 15px;
        width: 170px;
    }
    
    .sect-5-links-4{
        width: 120px;
    }
    
    .sect-5-links-2{
        padding-left: 0px;
        padding-right: 0;
        width: 140px;
    }
}

@media (min-width:1100px) {
    .text-size {
        font-size: 50px;
        font-family: 'Encode Sans Compressed', sans-serif;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 67% 40%;
        background-size: auto 50px;
    }

    
    .section-2-links{
        text-decoration: none;
        color: grey;
        font-size: large;
        display: flex;
        justify-content: space-between;
        font-family: 'Encode Sans Compressed', sans-serif;
    }
    
    .sect-5-addresses{
        font-size: small;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: small;
        display: flex;
        align-items: stretch;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 15px;
        width: 235px;
    }
    
    .sect-5-btn{
        background-color: rgb(5, 122, 218);
        padding: 15px 20px;
        border-radius: 50px;
        border: none;
        color: white;
        margin-left: -50px;
    }

    .sect-5-links-6{
        height: 500px;
        width: 200px;
    }
    
    .sect-5-links-5{
        padding-left: 0px;
        padding-right: 15px;
        width: 140px;
    }
    
    .sect-5-links-4{
        width: 130px;
    }
    
    .sect-5-links-2{
        padding-left: 0px;
        padding-right: 0;
        width: 145px;
    }

    .sect-5-links-1{
        padding-left: 2px;
        padding-right: 5px;
        width: fit-content;
        margin: 0;
    }

    .sect-5-links-6{
        width: fit-content;
    }

    .sect-5-links-3{
        width: fit-content;
    }

    .sect-5-links-head{
        font-size:  large;
    }

    .footer-text-size{
        font-size: medium;
    }
}

@media (min-width:1150px) {
    .text-size {
        font-size: 50px;
        font-family: 'Encode Sans Compressed', sans-serif;
        ;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 65% 40%;
        background-size: auto 50px;
    }

    .section-3-img{
        background-image: url('images/step-by-step.png');
        background-repeat: no-repeat;
        background-size: 100% 80%;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: small;
        display: flex;
        align-items: stretch;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 15px;
        width: 225px;
    }
    
    .sect-5-btn{
        background-color: rgb(5, 122, 218);
        padding: 15px 20px;
        border-radius: 50px;
        border: none;
        color: white;
        margin-left: -50px;
    }

    .sect-5-links-6{
        height: 500px;
        width: fit-content;
    }
    
    .sect-5-links-5{
        padding-left: 0px;
        padding-right: 15px;
        width: 150px;
    }
    
    .sect-5-links-4{
        width: 150px;
    }
    
    .sect-5-links-2{
        padding-left: 0px;
        padding-right: 0;
        width: 140px;
    }

    .sect-5-links-1{
        padding-left: 0px;
        padding-right: 5px;
        width: 170px;
    }

    .sect-5-links-head{
        font-size:  large;
    }
}

@media (min-width:1200px) {
    .text-size {
        font-size: 50px;
        font-family: 'Encode Sans Compressed', sans-serif;
        ;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 65% 40%;
        background-size: auto 50px;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 15px;
        width: 205px;
    }

    .sect-5-links-6{
        width: fit-content;
    }

    .sect-5-links-3{
        width: fit-content;
    }

    .sect-5-addresses{
        font-size: small;
    }
}

@media (min-width:1250px) {
    .text-size {
        font-size: 50px;
        font-family: 'Encode Sans Compressed', sans-serif;
        ;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 63% 40%;
        background-size: auto 50px;
    }

    .section-3-img{
        background-image: url('images/step-by-step.png');
        background-repeat: no-repeat;
        background-size: 100% 50% ;
    }

    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 15px;
        width: 255px;
    }
    .sect-5-links-1{
        padding-left: 0px;
        padding-right: 0px;
        width: 150px;
        margin: 0px;
    }

    .sect-5-links-6{

        width: 350px;
    }

    .sect-5-links-3{
        width: fit-content;
    }

    .sect-5-links-2{
        width: 150px;
    }

    .sect-5-links-4{
        width: 150px;
    }

    .sect-5-links-5{
        width: fit-content;
    }

    .sect-5-links-head{
        font-size: large;
    }
}

@media (min-width:1330px) {
    .text-size {
        font-size: 50px;
        font-family: 'Encode Sans Compressed', sans-serif;
        font-weight: bold;
    }

    #line-image {
        background-image: url('images/text-line.png');
        background-repeat: no-repeat;
        background-position: 59% 40%;
        background-size: auto 50px;
    }

    
    .section-2-links{
        text-decoration: none;
        color: grey;
        font-size: large;
        display: flex;
        justify-content: space-between;
        font-family: 'Encode Sans Compressed', sans-serif;
    }

    .section-3-img{
        background-image: url('images/step-by-step.png');
        background-repeat: no-repeat;
        background-size: 100% 65%;
    }

    .section-4-img{
        background-image: url('images/background-image-seoplanetx-rectangle.png');
        background-repeat: no-repeat;
        background-size: 100% 400px;
    }
    .section-4-pad{
        padding: 150px 250px;
        color: white;
        font-size: medium;
    }

    .section-4-btn{
        font-size: medium;
        border-radius: 50px;
    } 

    .cards-style{
        border-radius: 30px;
        height: 250px;
        width: 300px;
        border: 0.5px solid black;
        box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.9);
    }

    .cards-pg{
        font-size: medium;
    }

    .card-heading{
        font-size: medium;
    }

    .card-img{
        width: 50%;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: small;
        display: flex;
        align-items: stretch;
    }
    
    .hiring-btn{
        background-color: orangered;
        color: white;
        border-radius: 15px;
        border: none;
        font-size: x-small;
    }
    
    .sect-5-addresses{
        font-size: small;
    }
    
    .sect-5-input{
        background-color: white;
        border: 1px solid black;
        border-radius: 50px;
        padding: 15px;
        width: 285px;
    }
    
    .sect-5-btn{
        background-color: rgb(5, 122, 218);
        padding: 15px 20px;
        border-radius: 50px;
        border: none;
        color: white;
        margin-left: -50px;
    }
    
    .sect-5-pad{
        padding-top: 5px;
        padding-bottom: 10px;
    }
    
    .sect-5-links-6{
        height: 500px;
        width: 350px;
    }
    
    .sect-5-links-5{
        padding-left: 0px;
        padding-right: 15px;
        width: 140px;
    }
    
    .sect-5-links-3{
        width: 170px;
    }

    .sect-5-links-4{
        width: 150px;
    }
    
    .sect-5-links-2{
        width: 200px;
    }

    .sect-5-links-1{
        padding-left: 0px;
        padding-right: 0px;
        width: 160px;
    }

    .sect-5-links-head{
        font-size: x-large;
    }
    
    .footer-text-size{
        font-size: medium;
    }
}

